*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #fff;
}

/*f48b82
fce38a



    font-family: 'Kaushan Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

*/

header{
	max-width: 1920px;
	margin: 0 auto;
	background: url("../img/baner.jpg") ;
	background-position: top center;
	height: 1000px;
}
nav{
	max-width: 1200px;
	margin: 0 auto;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
   }
   
.logo{
	height: 60px;
	padding-left: 15px;
	flex: 1 1 100px;
   	margin-right: 30px;
}
.menu{
	flex: 1 1 400px;
   
}
.menu ul{
    height: 60px;
    text-align: right;
}
.menu ul li{
	display: inline-block;
	list-style-type: none;
	line-height: 60px;
	padding-right: 4%;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #fff;
}
.menu ul li a:hover{
	color: #fce38a;
	border-bottom: 2px solid #fce38a;
	cursor: pointer;
}
.title{
	width: 850px;
	margin: 150px auto 0;
}
.title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 150px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.title p:first-child{
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	text-transform: none;

}
.line{
	height: 3px;
	width: 60px;
	background-color: #fff;
	margin: 60px auto 40px;
}
.buttom{
	height: 40px;
	width: 160px;
	border: 3px solid #fff;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	cursor: pointer;
}

.fourlines{
	max-width: 1200px;
	margin: 100px auto;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
   }
   .two, 
   .one{
   flex: 1 1 150px;
   	margin-right: 4%;
   	border-top: 3px solid #fff;
   	padding-top: 15px;
   	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.fourlines span{
	font-weight: bold;
	font-size: 22px;
}
/*about*/
.about{
	margin: 80px auto;
}
.abouttitle p{
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: #333333;
	width: 300px;
	margin: 0 auto;
	text-align: center;

}
.abouttitle p:last-child{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}
.redline{
	background-color: #f38181;
	height: 2px;
	width: 60px;
	margin: 40px auto;
}
.desc{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: center;
	color: #999999;
	margin: 0 10%;
}

.foto{
	max-width: 1200px;
	margin: 80px auto;
	 display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    position: relative;
}
.super{
   flex: 1 1 270px;
   margin: 20px 3%;
   max-width: 380px;
}
.super img{
	width: 100%;
	
}

.work_block{
	position: relative;
	

}
.work_block:hover{
	background-color: #95e1d3;
}
.image_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: rgba(244,139,130,0.7);*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 0;
}
/*.image_wrap:hover{
	opacity: 1;
	transform: translate(-10px,-10px);
}*/
.work_block img:hover {
	content: "start";
	color: #fff;
	opacity: 1;
	transform: translate(-10px,-10px);
}


.work_block img
.work_descr{
	color: #fff;
	text-align: center;
	margin: auto;
}

.numbers{
	background-color: #95e1d3;
	width: 100%;
}
.numbers-box{
	max-width: 1200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 auto;
	 -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    
}

.num{
	padding: 90px 20px;
	flex: 1 1 120px;
	border-right: 3px solid #b5eae0;
	max-width: 240px;
	box-sizing: border-box;
	height: 270px;
	text-align: center;
}
.num:first-child{
	border-left: 3px solid #b5eae0;
}
.num p:first-child{
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}
.num p:last-child{
	text-transform: uppercase;
	font-size: 14px;
}

.work_with{
	margin: 100px auto;
	height: auto;
}
.work_box {
	width: 310px;
	margin: 0 auto;
	color: #333333;
}
.work_box p:first-child{
	text-align: center;
    font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}
.work_box p:last-child{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 20px 0 30px;
}

.list{
	max-width: 1200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 auto;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    color: #999999;
}
.list_box{
	flex: 1 1 300px;
	display: flex;
	margin: 0 auto;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    max-width: 330px;
    font-family: 'Roboto', sans-serif;
}
.list_box .img{
	flex: 1 1 60px;
	margin: 0 auto;
}
.list_box div{
	flex: 1 1 260px;
	font-size: 14px;
}
.list_box div p:first-child{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  padding-bottom: 15px;

}
/*devices*/
.devices{
	background: url('../img/devices.jpg');
	background-position: center;
	height: 845px;
	margin-top: 100px;
	padding-top: 100px;
	position: relative;
}

.tab{
	position: absolute;
	bottom: 0;
	left:26%;
}
.tell{
	position: absolute;
	bottom: -80px;
	left:55%;
}


.grey{
	height: 2px;
	background-color: #e5e5e5;
	width: 100%;
	margin: 50px 0;
}

/*we_do*/
.we_do{
	max-width: 1200px;
	margin: 90px auto;
}

.we_do .desc{
	max-width: 960px;
}
.wall{
	margin: 90px 0;
	display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wall_img{
	flex: 1 1 250px;
}



/*COMMENT*/
#accordion{
	width: 600px;
	height: 370px;
	color: black;

}
h3 img{
	height: 33px;
	width: 33px;
}
#accordion h3 {
	background-color: #fff;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px 1px;
}
#accordion h3 p{
	padding-left: 5px;
position: absolute;
top: 11px;
left: 65px;
}
.conten p{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: #999;
	font-style: italic;
}
.conten{
	overflow: scroll;
max-height: 220px;

	}
.ui-state-active,
.ui-state-active:hover{
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
}
/*COMMENT*/
.comment{
	background-color: #f8f8f8;
	height: 286px;

}
.comment_box{
	max-width: 1200px;
	display: flex;
	color: #999999;
	padding-top: 70px;
	padding-bottom: 70px;
	
}
.img_comment{
	max-width: 154px;
	margin-left: 30px;
	flex: 1 1 150px;
}
.comment_box a{
	padding: 25px 30px;
	line-height: 117px;
}
.comment_text{
	font-size: 24px;
	margin-left: 25px;
	flex: 2 2 700px;
	margin-left: 30px;
}
.red_short{
	background-color: #f38181;
	height: 2px;
	width: 60px;
	margin-top: 20px;
	flex: 1 1 60px;
	
}
.sign{
	color: #000;
flex: 1 1 120px;
font-family: 'Kaushan Script', cursive;
}

/*TEAM*/
.team{
	padding: 90px 0;
}

.team_blok{
	max-width: 1200px;
	display: flex;
	margin: 90px auto;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
}
.team_element{
flex:  1 1 380px;
font-size: 14px;
text-align: center;
margin-right: 20px;
}
.name{
	margin-top: 30px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
}
.post{
	margin-top: 10px;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	font-style: italic;

}
.back{
	background-color: #95e1d3;
	width: 100%;

}
.back img:hover{
	transform: translate(-10px,-10px);	
}