*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #fff;
}


/*f48b82
fce38a



    font-family: 'Kaushan Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

*/

header{
	max-width: 1920px;
	margin: 0 auto;
	background: url("../img/baner.jpg") ;
	background-position: center center;
	background-attachment: fixed;
	height: 1000px;
}
nav{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
   }
   
.logo{
	height: 60px;
	padding-left: 15px;
	flex: 1 1 100px;
   	margin-right: 30px;
}
.menu{
	flex: 1 1 400px;
   
}
.menu ul{
    height: 60px;
    text-align: right;
}
.menu ul li{
	display: inline-block;
	list-style-type: none;
	line-height: 60px;
	padding-right: 4%;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #fff;
}
.menu ul li a:hover{
	color: #fce38a;
	border-bottom: 2px solid #fce38a;
	cursor: pointer;
}
/*mobmenu*/
.mobmenu{
	display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgba(221,116,116,1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(221,116,116,1), rgba(227,205,104,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(221,116,116,1), rgba(227,205,104,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(221,116,116,1), rgba(227,205,104,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(221,116,116,1), rgba(227,205,104,1)); /* Standard syntax */
   overflow-x: hidden;
    transition: 0.6s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: center;
    text-transform: uppercase;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.title{
	margin: 120px auto;
}
.title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 150px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.title p:first-child{
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	text-transform: none;

}
.line{
	height: 3px;
	width: 60px;
	background-color: #fff;
	margin: 60px auto 40px;
}
.buttom{
	height: 40px;
	width: 160px;
	border: 3px solid #fff;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	cursor: pointer;
}

.fourlines{
	max-width: 1200px;
	margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
   }
   .fourlines_blok{
   flex: 1 1 90px;
   	margin-left: 3%;
   	margin-right: 3%;
   	border-top: 3px solid #fff;
   	padding-top: 15px;
   	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.fourlines span{
	font-weight: bold;
	font-size: 22px;
}
/*about*/
.about{
	margin: 80px auto;
}

.abouttitle{
	margin: 0 auto;
}
.abouttitle p{
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: #333333;
	text-align: center;

}
.abouttitle p:last-child{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}
.redline{
	background-color: #f38181;
	height: 2px;
	width: 60px;
	margin: 40px auto;
}
.desc{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: center;
	color: #999999;
	margin: 0 10%;
}

.foto{

	margin: 70px auto;
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    position: relative;
}
.foto_block{

   flex: 1 1 280px;
   margin: 20px 3%;
   max-width: 380px;
   background-color: #95e1d3;
}
.foto_block_item{
	position: relative;
	max-height: 250px;
}
.foto_block_item img{
	width: 100%;
	height: 100%;
}
.image_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(221,116,116,0.8); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* Standard syntax */
    display: flex;
	opacity: 0;
}
.foto_block_item:hover .image_wrap{
	opacity: 1;
	
}

.foto_block_item:hover{
	transform: translate(-10px,-10px);
}

.block_descr{
	color: #fff;
	text-align: center;
	margin: auto;
}
.block_descr img{
	height: 25px;
	width: 38px;
}

.numbers{
	background-color: #95e1d3;
	width: 100%;
}
.numbers-box{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    
}

.num{
	padding: 90px 20px;
	flex: 1 1 150px;
	border: 2px solid #b5eae0;
	max-width: 240px;
	box-sizing: border-box;
	height: 270px;
	text-align: center;
}
.num:first-child{
	border-left: 3px solid #b5eae0;
}
.num p:first-child{
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}
.num p:last-child{
	text-transform: uppercase;
	font-size: 14px;
}

.work_with{
	margin: 80px auto;
	height: auto;
}
.work_box {
	width: 310px;
	margin: 0 auto;
	color: #333333;
}
.work_box p:first-child{
	text-align: center;
    font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}
.work_box p:last-child{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 20px 0 30px;
}

.list{
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
	padding-left: 10px;
	/*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;*/
    color: #999999;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
}
.list_box{
	flex: 1 1 300px;
	display: flex;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    max-width: 330px;
    font-family: 'Roboto', sans-serif;
}
.list_box .img{
	flex: 1 1 60px;
	margin: 0 auto;
}
.list_box div{
	flex: 1 1 260px;
	font-size: 14px;
}
.list_box div p:first-child{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  padding-bottom: 15px;
}
.list_box_desc{
	padding-bottom: 20px;
}
/*devices*/
.devices{
	background: url('../img/devices.jpg');
	background-position: center;
	height: 845px;
	margin-top: 80px;
	padding-top: 100px;
	position: relative;
}

.tab{
	position: absolute;
	bottom: -4px;
	left:26%;
}
.tell{
	position: absolute;
	bottom: -80px;
	left:55%;
}


.grey{
	height: 2px;
	background-color: #e5e5e5;
	width: 100%;
	margin: 30px 0 40px;
}

/*we_do*/
.we_do{
	max-width: 1200px;
	margin: 90px auto;

}

.we_do .desc{
	max-width: 960px;
}
.wall{
	margin: 70px 0;
	display: flex;
    flex-wrap: wrap;
}
.wall_img{
	flex: 1 1 320px;
	padding: 1%;
    margin: auto;
}
.wall_img img{
	width: 100%;
}



/*COMMENT*/
#accordion{
	flex: 1 1 320px;
	width: 600px;
	height: 370px;
	color: black;
	padding:2%;

}
h3 img{
	height: 33px;
	width: 33px;
}
#accordion h3 {
	background-color: #fff;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px 1px;
}
#accordion h3 p{
	padding-left: 5px;
	position: absolute;
	top: 11px;
	left: 65px;
}
.conten p{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: #999;
	font-style: italic;
}
.conten{
	overflow: scroll;
	max-height: 220px;

	}
.ui-state-active,
.ui-state-active:hover{
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
}
/*COMMENT*/
.comment{
	background-color: #f8f8f8;
	height: 286px;

}
.comment_box{
	max-width: 1200px;
	display: flex;
	color: #999999;
	padding-top: 70px;
	padding-bottom: 70px;
	
}
.img_comment{
	max-width: 154px;
	margin-left: 30px;
	flex: 1 1 150px;
}
.comment_box a{
	padding: 25px 30px;
	line-height: 117px;
}
.comment_text{
	font-size: 24px;
	margin-left: 25px;
	flex: 2 2 700px;
	margin-left: 30px;
}
.red_short{
	background-color: #f38181;
	height: 2px;
	width: 60px;
	margin-top: 20px;
	flex: 1 1 60px;
	
}
.sign{
	color: #000;
	flex: 1 1 120px;
	font-family: 'Kaushan Script', cursive;
}

/*TEAM*/
.team{
	margin: 80px auto 70px;
}

.team_blok{
	max-width: 1200px;
	margin: 90px auto;
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    flex: 1 1 270px;
    margin: 20px 3%;
    max-width: 380px;
    background-color: #95e1d3;
}


.foto_team{
	max-width: 1200px;
	margin: 50px auto 70px;
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    position: relative;
}

.block{
	 flex: 1 1 270px;
   margin: 20px 3%;
   max-width: 380px;
}

.team_blok_item{
	position: relative;
	
}
.team_blok_item img{
	width: 100%;
	height: 100%;
}
.image_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
	/*background: -moz-linear-gradient (bottom,rgba(221,116,116,0.7),rgba(227,205,104,0.7));*/
	
	background: rgba(221,116,116,0.8); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(221,116,116,0.8), rgba(227,205,104,0.8)); /* Standard syntax */
    display: flex;
	opacity: 0;
}
.team_blok_item:hover .image_wrap{
	opacity: 1;
	
}

.team_blok_item:hover{
	transform: translate(-10px,-10px);
}

.block_descr{
	text-align: center;
	margin: auto;
}

.block_descr a{
	display: inline-block;
	background-color: #fce38a;
	height: 56px;
	width: 56px;
	color: #f38181;
	font-size: 28px;
	line-height: 50px;
	margin-right: -2px;
}
.block_descr a:hover{
	background-color: #f38181;
	color: #fff;
}

.team_blok p{
	text-align: center;
}
.name{
	margin-top: 30px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.post{
	margin-top: 10px;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	text-align: center;
}
.label{
	width: 100%;
	background-color: #f8f8f8;
	
}
.label_block{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
}
.label_block img{
flex: 1 1 300px;
margin: 60px auto;
max-width: 125px;
}

/*.map, .map iframe{
	margin-top: 100px;
	height: 200px;
	width: 100%;

}

.map:hover, .map iframe:hover{
	
	height: 400px;
	width: 100%;
	
}
*/

.story{
	max-width: 1200px;
	margin: 80px auto;
	
}
.story_block{
	flex: 1 1 300px;
	margin: 60px auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
.story_item {
	flex: 1 1 250px;
	position: relative;
	margin: 20px auto;
}
.date{
	position: absolute;
	left:-10px;
	top:160px;
	background-color: #95e1d3;
	z-index: 5;
	width: 60px;
	height: 70px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 14px;
}
.date span{
	font-size: 32px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.story_item p{
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
color: #333;
text-align: left;
padding-top: 20px;
}
.story_item p:last-child{
font-size: 14px;
font-family: 'Roboto', sans-serif;
color: #999999;
text-align: left;
text-transform: none;
padding-top: 10px;
padding-right: 30px;

}

footer{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;

}
footer span{
	color: #f4a4a4;
}
footer p{
	margin-top: -20px;
}