*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #fff;
}

/*f48b82
fce38a



    font-family: 'Kaushan Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

*/

header{
	max-width: 1920px;
	margin: 0 auto;
	background: url("../img/baner.jpg") ;
	background-position: top center;
	height: 1000px;
}
nav{
	max-width: 1200px;
	margin: 0 auto;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
   }
   
.logo{
	height: 60px;
	padding-left: 15px;
	flex: 1 1 100px;
   	margin-right: 30px;
}
.menu{
	flex: 1 1 400px;
   
}
.menu ul{
    height: 60px;
    text-align: right;
}
.menu ul li{
	display: inline-block;
	list-style-type: none;
	line-height: 60px;
	padding-right: 4%;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #fff;
}
.menu ul li a:hover{
	color: #fce38a;
	border-bottom: 2px solid #fce38a;
	cursor: pointer;
}
.title{
	width: 850px;
	margin: 150px auto 0;
}
.title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 150px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.title p:first-child{
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	text-transform: none;

}
.line{
	height: 3px;
	width: 60px;
	background-color: #fff;
	margin: 60px auto 40px;
}
.buttom{
	height: 40px;
	width: 160px;
	border: 3px solid #fff;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	cursor: pointer;
}

.fourlines{
	max-width: 1200px;
	margin: 100px auto;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
   }
   .two, 
   .one{
   flex: 1 1 150px;
   	margin-right: 4%;
   	border-top: 3px solid #fff;
   	padding-top: 15px;
   	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.fourlines span{
	font-weight: bold;
	font-size: 22px;
}
/*about*/
.about{
	margin: 80px auto;
}
.abouttitle p{
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: #333333;
	width: 300px;
	margin: 0 auto;
	text-align: center;

}
.abouttitle p:last-child{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}
.redline{
	background-color: #f38181;
	height: 2px;
	width: 60px;
	margin: 40px auto;
}
.desc{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: center;
	color: #999999;
	margin: 0 10%;
}

.foto{
	max-width: 1200px;
	margin: 80px auto;
	 display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    position: relative;
}
.super{
   flex: 1 1 270px;
   margin: 20px 3%;
   max-width: 380px;
}
.super img{
	width: 100%;
	
}

.work_block{
	position: relative;
	

}
.work_block:hover{
	background-color: #95e1d3;
}
.image_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: rgba(244,139,130,0.7);*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 0;
}
/*.image_wrap:hover{
	opacity: 1;
	transform: translate(-10px,-10px);
}*/
.work_block img:hover {
	content: "start";
	color: #fff;
	opacity: 1;
	transform: translate(-10px,-10px);
}


.work_block img
.work_descr{
	color: #fff;
	text-align: center;
	margin: auto;
}


.numbers{
	background-color: #95e1d3;
	max-width: 1200px;
	
	margin: 0 auto;
	 -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch; 
    align-content: stretch;
    position: relative;
}

.num{
	margin: 80px 5%;
	flex: 1 1 100px;
	border-right: 3px solid #b5eae0;
	max-width: 240px;
}